* {
    font-family: Courier New;
    box-sizing: border-box;
    }

body {
    margin: 1rem;
    background-color: aliceblue;
}

div {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
h1 {

}

h2 {
    text-align: center;
}

textarea {
    border: 1px solid;
}